@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&family=Raleway&family=Ubuntu&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body,
html {
  padding: 0 !important;
  margin: 0 !important;
  scroll-behavior: smooth !important;
  font-family: "Raleway", sans-serif !important;
}

.page {
  min-height: 92vh !important;
  padding: 1rem !important;
}

.App {
  min-height: 92vh !important;
}

.page-fonts {
  font-family: "Raleway", sans-serif !important;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177) !important;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136) !important;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100) !important;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68) !important;
}

#footer,
#navbar {
  font-family: "Josefin Sans", sans-serif !important;
}

#navbar {
  font-size: larger;
}

.loader {
  font-size: 48px;
  color: darkslategrey;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: "Loading";
  position: relative;
  z-index: 5;
}
.loader:before {
  content: "";
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#008cff 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

/* loader 2 */

.loader2 {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
.loader2::after {
  content: '';  
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: lightgray;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 10s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
